[Unit]
Description=Force flush logs from {{ fluentd_service_name }} before shutdown
DefaultDependencies=no
Before=shutdown.target network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/kill -USR1 $(/bin/cat /var/run/td-agent/td-agent.pid)'
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
